<h1>Enter you contact</h1>
<form action="/contact" method="post">
  <label for="new-name">Name:</label>
  <input type="text" name="new-name" value="">
  <label for="new-number">Number:</label>
  <input type="text" name="new-number" value="">
  <label for="new-address">Address:</label>
  <input type="text" name="new-address" value="">
  <button type="submit" name="button">Submit</button>
</form>
