<h1>Your new contact is:</h1>
<p>

</p>
<ul>
  <li>@Model.GetName()</li>
  <li>@Model.GetNumber()</li>
  <li>@Model.GetAddress()</li>
</ul>

<p><a href="/">View contacts</a></p>
<p><a href="/contact/new_contact">Add Contact</a></p>
