<h1>Contact Information</h1>
<p>

</p>
<ul>
  <li>Name: @Model.GetName()</li>
  <li>Number: @Model.GetNumber()</li>
  <li>Address: @Model.GetAddress()</li>
</ul>

<p><a href="/">View All Contacts</a></p>
<p><a href="/contact/new_contact">Add New Contact</a></p>
