<h1>Success!</h1>
<p>You created a new contact!</p>
<ul>
  <li><b>Name:</b> @Model.GetName()</li>
  <li><b>Number:</b> @Model.GetNumber()</li>
  <li><b>Address:</b> @Model.GetAddress()</li>
</ul>
<p><a href="/">View All Contacts</a></p>
<p><a href="/contact/new_contact">Add New Contact</a></p>
